.vscode/**
.vscode-test/**
.vscode-test-web/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
webpack.web.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierrc
.prettierignore
*.visx
